<form action="/user/update" method="post">
   Name: <input type="text" name="name">
    </br>
    code  :<input type="number" name="code" >
    </br>
    Email:<input type="text" name="email" id="email">
    </br>
    Phone<input type="text" name="phone" id="phone">
        </br>
    <button type="submit">update</button>
</form>