<form action="" method="post">
   Name: <input type="text" name="name">
    </br>
    Address   :<input type="text" name="address" >
    </br>
    Email:<input type="text" name="email" id="email">
    </br>
    Phone<input type="text" name="phone" id="phone">
        </br>
    <button type="submit">create</button>
</form>